[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GARCHSK"]
	path = GARCHSK
	url = https://github.com/cran/GARCHSK
[submodule "ksNN"]
	path = ksNN
	url = https://github.com/cran/ksNN
[submodule "xdcclarge"]
	path = xdcclarge
	url = https://github.com/cran/xdcclarge
